.toggler-btn {
  font-size: 32px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--element-background-color);
}

.toggler-btn:hover {
  background: var(--highlight-color);
  transition: all 0.7s ease-in-out;
}
