.weather {
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--interface-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-n-icons-primary-color);
  box-shadow: 10px 10px 5px 0px var(--block-shadow-color);
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-bar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: var(--text-n-icons-primary-color);
  background: var(--element-background-color);
  font-size: 18px;
  color: var(--text-n-icons-secondary-color);
}

.search-bar input:hover {
  background: var(--highlight-color);
  transition: all 0.3s ease-in-out; /*-------------------*/
}

.search-bar img {
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  background: var(--element-background-color);
  cursor: pointer;
}

.search-bar img:hover {
  background: var(--highlight-color);
  transition: all 0.3s ease-in-out; /*-------------------*/
}

.weather-icon {
  width: 150px;
  margin: 30px 0;
}

.temperature {
  color: var(--text-n-icons-primary-color);
  font-size: 80px;
  line-height: 1;
}

.location {
  color: var(--text-n-icons-primary-color);
  font-size: 40px;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  color: var(--text-n-icons-primary-color);
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
}

.weather-data .col span {
  display: block;
  font-size: 16px;
}

.weather-data .col img {
  width: 26px;
  margin-top: 10px;
}

.weather-conditions {
  width: 150px;
  padding: 15px;
  fill: var(--text-n-icons-primary-color);
}
